body {
  margin: 0;
  background-color: #1e213f;
  color: #d7e0ff;
}
p {
  margin: 0;
  font-size: 20px;
}
input {
  margin: 0;
}
/* input[type=radio] */
input[type=radio] {
  position: absolute;
  opacity: 0;
}
input[type=radio] + .radio-label::before {
  content: '';
  background: #d7e0ff;
  border-radius: 100%;
  border: 1px solid #70F3F8;
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  top: 0;
  vertical-align: top;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.input[type="radio"]:checked + .radio-label::before {
  background-color: #70F3F8;
  box-shadow: inset 0 0 0 2px #d7e0ff;
}
/* input[type=range].styled-slider */
input[type=range].styled-slider {
  -webkit-appearance: none;
  background: transparent;
}
input[type=range].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 16px + var(--ratio) * (100% - 16px));
}
input[type=range].styled-slider:focus {
  outline: none;
}
input[type=range].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #D7E0FF;
  border: 1px solid #70F3F8;
  box-shadow: 0 0 2px black;
  margin-top: calc(1em * 0.5 - max(16px * 0.5,2px));
}
input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 1em;
  border: none;
  border-radius: 0.5em;
  background: #d7e0ff;
  box-shadow: none;
}
input[type=range].styled-slider::-webkit-slider-thumb:hover {
  background: #70F3F8;
}
input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
  background: #d7e0ff;
}
input[type=range].styled-slider::-webkit-slider-thumb:active {
  background: #70F3F8;
}
input[type=range].styled-slider:active::-webkit-slider-runnable-track {
  background: #f5f5f5;
}
input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#70F3F8,#70F3F8) 0/var(--sx) 100% no-repeat, #d7e0ff;
}
input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(#70F3F8,#70F3F8) 0/var(--sx) 100% no-repeat, #d7e0ff;
}
input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
  background: linear-gradient(#70F3F8,#70F3F8) 0/var(--sx) 100% no-repeat, #f5f5f5;
}
input[type=range].styled-slider::-moz-range-thumb {
  width: max(calc(16px - 2px - 2px),0px);
  height: max(calc(16px - 2px - 2px),0px);
  border-radius: 8px;
  background: #D7E0FF;
  border: 1px solid #70F3F8;
  box-shadow: 0 0 2px black;
}
input[type=range].styled-slider::-moz-range-track {
  height: 1em;
  border: none;
  border-radius: 0.5em;
  background: #d7e0ff;
  box-shadow: none;
}
input[type=range].styled-slider::-moz-range-thumb:hover {
  background: #70F3F8;
}
input[type=range].styled-slider:hover::-moz-range-track {
  background: #d7e0ff;
}
input[type=range].styled-slider::-moz-range-thumb:active {
  background: #70F3F8;
}
input[type=range].styled-slider:active::-moz-range-track {
  background: #f5f5f5;
}
input[type=range].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#70F3F8,#70F3F8) 0/var(--sx) 100% no-repeat, #d7e0ff;
}
input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
  background: linear-gradient(#70F3F8,#70F3F8) 0/var(--sx) 100% no-repeat, #d7e0ff;
}
input[type=range].styled-slider.slider-progress:active::-moz-range-track {
  background: linear-gradient(#70F3F8,#70F3F8) 0/var(--sx) 100% no-repeat, #f5f5f5;
}
input[type=range].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}
input[type=range].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}
/* main style */
.title {
  margin: 0;
  padding: 50px 0;
  text-align: center;
}
.container {
  margin: 0 auto;
  padding: 20px 40px;
  width: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #272c5a;
}
.price-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.item {
  width: 40%;
}
.item__description {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item__input {
  margin: 0;
  position: relative;
  width: 100%;
}
.item__input::before {
  content: '1GB';
  position: absolute;
  left: 0;
  bottom: -20px;
  color: #d7e0ff;
}
.item__input::after {
  content: '1000GB';
  position: absolute;
  right: 0;
  bottom: -20px;
  color: #d7e0ff;
}
.price-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logos {
  width: 30%;
}
.company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.company__name-item {
  margin: 0;
}
.company__logo {
  width: 32px;
  height: 32px;
}
.company__logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.company__name-input {
  display: flex;
  align-items: center;
}
.input__wrap {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.company__name-input label {
  font-size: 12px;
}
.chart {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 228px;
}
.chart__item {
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
}
.chart__graph {
  height: 25px;
  background-color: #747e9f;
  width: 200px;
}
.chart__item-price {
  padding: 0 10px;
  color: #d7e0ff;
}
.bgGray {
  background-color: #747e9f;
}
.bgBlue {
  background-color: #70F3F8;
}
@media screen and ( max-width: 760px ) {
  .container {
    flex-direction: column-reverse;
    width: 80%;
    padding: 0 0 30px;
  }
  .title {
    padding: 30px 0;
    font-size: 24px;
  }
  .price-form {
    flex-direction: column;
  }
  .item {
    margin-top: 40px;
    width: 300px;
  }
  .price-result {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .logos {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  .company {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 10px 0 0;
    width: 25%;
  }
  .company__name {
    margin-top: 10px;
    text-align: center;
  }
  .company__name-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }
  .chart {
    transform: rotate(-90deg);
    width: 350px;
    height: 400px;
  }
  .chart__item-price {
    padding: 0 0 0 10px;
  }
}
@media screen and ( max-width: 576px ) {
  .container {
    width: 90%;
  }
  .logos {
    width: 300px;
  }
  .chart {
    width: 280px;
    height: 300px;
  }
  .item {
    width: 250px;
  }
  .company__name-item {
    font-size: 14px;
  }
}